body {
    background-color: #06283D;
}

#container {
    display: flex;
    max-height: 30rem;
}

#title {
    font-size: 35px;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    color: #47B5FF;
}

#svg {
    background-color: #DFF6FF;
    flex: 3;
    border-radius: 8px;
    padding: 2px;
    box-shadow: 5px 5px 5px #1363DF;
}

.choice {
    background-color: #06283D;
    border: none;
    height: 50px;
    width: 50px;
    display: block;
    margin-bottom: 12px;
    margin-right: 12px;
    border-radius: 5px;
    padding-right: 10px;
    justify-content: center;
    align-self: center;
}

.details-name {
    height: 20px;
}

.choice:hover, .choice:active {
    box-shadow: 5px 5px 5px#1363DF;
}

.fa-solid{
    font-size: 30px;
    text-align: center;
    color: #DFF6FF;
    width: 40px;
}

#details {
    padding-left: 20px;
    stroke: #1363DF;
    margin-top: -25px;
    font-family: 'Poppins';
    color:#47B5FF;
}

#form-details, #stroke-details {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    margin-top: -20px;
}

.card, .card2 {
    font-family: 'Poppins', sans-serif;
    color:#06283D;
    font-weight: 1000;
    margin: 0.6rem;
    flex: 1 0 40%;
    border-radius: 5px;
    background-color:#47B5FF;
    box-shadow: 5px 5px 5px #1363DF;
    max-width: 100px;
    max-height: 110px;
    padding-left: 5px;
}

.input {
    border: none;
    width: 90%;
    background-color: #47B5FF;
    border-bottom: 2px solid silver;
    margin-top: -10px;
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 500;
}

.card:hover, .card2:hover {
    transform: translateY(-0.3rem);
}